/* header */

.box__shadow
{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.headerclass {
    display: flex;
    align-items: center;
    height: 105px;
}

.header-menugroup
{
    display: flex;
    width: 100%;
}

.menu-main-menu-container
{
    width: 100%;
}

.urlclass {
    display: flex; 
    font-weight: bold;
    font-size: 14px;
    list-style: none;
    align-items: center;
    margin-left: 20%;
    margin-right: 40px;
}

.urlclass li{
    padding: 10px;
    margin: 0px 5px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
}

.urlclass li a{
    text-decoration: none;
    color: #222222;
}

.current_page_item
{
    background-color: #ef4634;
    padding: 10px;
    border-radius: 3px;
}

.urlclass .current_page_item a
{
    color: #ffffff;
}

.urlclass li:hover{
    background-color: #ef4634;
    /* padding: 10px; */
    /* border-radius: 3px; */
}

.urlclass li a:hover
{
    color: #ffffff;
}

.header__search-form
{
    display: flex;
    padding: 10px;
}

.urlclass_form__search {
    width: 150px;
    height: 20px;
    background-color: #ffffff;
    border: 1px solid #62585f;
    border-radius: 3px;
    margin-right: 3px;
}

.hamburger-icon {
	display: none;
}

/* //header */

/* red box container */

.red-box-container
{
    height: 544px;
    background-color: #e73d2d;
}

.red-box-container_background {
        background-image: url(./assets/images/slider-image-2.jpg);
        background-size: contain;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 3px;
        background-repeat: no-repeat;
        background-position: center;
}

.red-box-container_content
{
    padding-bottom: 40px;
}

.red-box-container_content__title
{
    font-size: 70px;
    font-weight: bold;
    color: #ffffff;
    margin: 20px 0px;
    text-shadow: 2px 2px #950904;
}

.red-box-container_content__subtitle
{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
/* //red box container */

/* Features */

.features{
    background-repeat: 'repeat';
    background-size: contain;
}

.feature_content
{   height: 101px;
    display: grid;
    grid-column-gap: 21px;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.feature_content__column {
    display: flex;
    align-items: center;
}

.feature_content__text
{
    margin-left: 5px;
}

.feature_content__heading {
    font-size: 20px;
    font-weight: bold;
    color: #ef4634;
    text-shadow: 2px 2px #fff;
}

.feature_content__heading:hover
{
    color: #222222;
}

.feature_content__column img{
    width: 50px;
    height: 50px;
    margin-right: 19px;
}

.feature_content__description
{
    font-size: 13px;
    color: #333333;
    line-height: 19.5px;
}
/* //Features */

/* Gallery */
.gallery_section
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.gallery_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100%/12)*7.5);
}

.gallery_header__container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
}
.gallery_header__header
{
    font-weight: 300;
    font-size: 45px;
    color: #62585f;
    text-shadow: 2px 2px #fff;
}

.gallery_header__container a
{
    height: fit-content;
    align-self: center;
}

.gallery_header__button
{
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    border-radius: 3px;
    background-color: #222222;
}

.gallery_header__button:hover
{
    background-color: #ef4634;
    cursor: pointer;
}

.gallery
{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 15px;
    grid-column-gap: 15px;
}

.gallery_img
{
    max-width: 100%;
    width: 310px;
    height: 210px;
    margin: 5px 0px;
    border-radius: 10px;
}
/* //Gallery-general */

/* Gallery- portfolio */
.portfolio__overlay-invisible
{
    display: none;
}

.portfolio__overlay
{
    width: 100%;
    height: 1200px;
    position: absolute;
    background-color: #222;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.portfolio__overlay-wrapper
{
position: fixed;
width: 100%;
height: 100%;
z-index: 2;
top: 100px;
bottom: 10px;
}

.portfolio__overlay-wrapper-invisible
{
    display: none;
}

.portfolio__overlay-imgcontainer {
    max-width: 800px;
    max-height: 600px;
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin: 0px auto;
    padding: 20px 20px 80px 20px;
}

.close__portfolio
{
    width: 35px;
    height: 35px;
    content: "";
    display: block;
    background-color: white;
    position: absolute;
    right: -35px;
    top: 0;
    background-image: url('http://localhost/wordpress/wp-content/uploads/2022/05/close-icon.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio__image
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.portfolio__image-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #62585f;
    margin-top: 28px;
}

.portfolio__image-title img
{
    width: 20px;
    height: 18px;
}


.lb-data .lb-details
{
    width: 101.1% !important;
    margin-left: -4px;
    text-align: center !important;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #62585f;
    background-color: #fff;
}

.lb-dataContainer
{
    padding: 0px !important;
}

.lb-data .lb-number
{
    display: none !important;
}

.lb-closeContainer
{
    display: none;
}

.gallery_header__button-group
{
    align-self: center;
}

.gallery_header__button-group a
{
    text-decoration: none;
}

.gallery_header__group-btn
{
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    background-color: #222222;
}

.gallery_header__group-btn:hover
{
    background-color: #ef4634;
    cursor: pointer;
}

.portfolio-image-wrap
{
    position: relative;
    max-width: 100%;
}

.portfolio__image-overlay
{
position: absolute;
width: 310px;
height: 215px;
display: block;
background-color: black;
opacity: 0.8;
top: 0px;
}

.portfolio__image-overlay-hidden
{
    display: none;
}

.portfolio__image-text::before
{
    width: 15px;
    height: 15px;
    content: '';
    position: absolute;
    margin-top: -50px;
    border-radius: 50%;
    border: 4px solid;
}

.portfolio__image-text::after
{
    width: 15px;
    height: 15px;
    content: '';
    position: absolute;
    margin-top: -65px;
    border-radius: 50%;
    border: 4px solid;
    margin-left: 17px;
}

.portfolio__image-text
{
    margin-top: 25px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.portfolio__pagination
{
    margin-top: 10px;
}

/* //Gallery- portfolio */

/* Welcome and Contact Section Footer*/

.wc {
    display: flex;
}

.welcome {
    width: calc((100% / 7.5)*4);
    padding: 20px 0px;
}

.contact {
    width: calc((100%/7.5)*2.5);
    padding: 20px 0px;
}

.wc__heading {
    font-size: 25px;
    font-weight: 400;
    color: #62585f;
    text-shadow: 2px 2px #fff;
    margin-bottom: 10px;
}

.wc__description {
    font-size: 14px;
    color: #62585f;
    line-height: 21px;
    margin-bottom: 10px;
}

.wc__read-more {
    font-size: 14px;
    color: #ef4634;
}

.wc__read-more:hover {
    color: #ef4634;
    text-decoration: underline;
}

.wc__icon-container
{
    display: flex;
}

.wc__social-icons {
    width: 40px;
    height: 40px;
    margin: 0px 2px;
}

.wc__description a
{
    color: #ef4634;
}

#wc-fb {
    width: 40px;
    height: 40px;
    background: url(./assets/images/social.png) 0 0;
}

#wc-fb:hover {
    background: url(./assets/images/social.png) 0 40px;
}

#wc-g {
    background: url(./assets/images/social.png) -45px 0;
}

#wc-g:hover {
    background: url(./assets/images/social.png) -45px 40px;
}

#wc-linkedin {
    background: url(./assets/images/social.png) -90px 0;
}

#wc-linkedin:hover {
    background: url(./assets/images/social.png) -90px 40px;
}

#wc-pinterest {
    background: url(./assets/images/social.png) -135px 0;
}

#wc-pinterest:hover {
    background: url(./assets/images/social.png) -135px 40px;
}

#wc-twitter {
    background: url(./assets/images/social.png) -180px 0;
}

#wc-twitter {
    background: url(./assets/images/social.png) -180px 40px;
}
/* //Welcome and Contact Section */

/* Single Post*/

#top-sidebar-area
{
    display: none;
}

.single-post
{
    display: flex;
    justify-content: center;
}

.single-container
{
    width: calc((100%/12)*7.5);
    display: flex;
    font-size: 14px;
    color: #62585f;
    line-height: 21px;
    margin-top: 50px;
}

.single-post-wrapper
{
    padding-right: 20px;
    width: calc((100%/7.5)*5);
}

.single_post__content p
{
    margin: 15px 0px;
}

.single_post__content img
{
    width: 620px;
    border-radius: 3px;
}

.single-post_heading
{
    font-size: 35px;
    font-weight: 400;
    color: #62585f;
    text-shadow: 2px 2px #fff;
    margin-bottom: 23px;
}

.single_post_subheading__container
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 3px;
    font-size: small;
    width: 100%;
}

.single_post_subheading__container .author_name
{
    color: green;
    font-weight: lighter;
}

.single-post__subheading_para a
{
    text-decoration: none;
}

.single_post__tags
{
    margin: 20px 0px;
}

.single_post__tags-para
{
    font-size: 13px;
    color: #62585f;
}

.single_post__tags-para a
{
    color: #ef4634;
    text-decoration: none;
}

.single_post__tags-para:hover
{
    text-decoration: underline;
}

.right__sidebar
{
    width: calc((100%/7.5)*2.5);
}

.single_sidebar
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* //Single Post*/

/* Comments Section */
.comment_container
{
    width: 100%;
}

.comment_heading
{
    font-size: 18px;
    font-weight: normal;
    color: #62585f;
    margin: 10px 0px;
}

.comment_reply_title
{
    font-size: 18px;
    color: #62585f;
    margin-top: 20px;
}

.comment
{
    list-style: none;
    font-size: 13px;
    color: #62585f;
}

.comment-author a
{
    text-decoration: none;
    color: #62585f;
}

.comment-author .fn a:link
{
    font-size: 13px;
    color: #ef4634;
    text-decoration: none;
    font-style: normal;
}

.reply
{
    display: flex;
    justify-content: flex-end;
}

.reply a
{
    text-decoration: none;
    color: #222222;
}

.comment-author
{
    display: flex;
}

.comment__icon
{
    font-size: 13px;
    padding-top: 3px;
}

.comment-right
{
    margin-left: 10px;
}

.comment_author-wrapper
{
    margin-bottom: 3px;
}

.comment-author .fn a:hover
{
    text-decoration: underline;
}

.comment-text
{
    font-size: 14px;
    color: #62585f;
    line-height: 21px;
}

#commentform
{
    display: flex;
    flex-direction: column;
}

.comment_textarea
{
    margin: 5px 0px;
    max-width: 100%;
    width: 620px;
    height: 90px;
    background-color: #fff;
    border: 1px solid #62585f;
}

.comment_form__lower_container
{
    display: flex;
    justify-content: space-between;
}

.comment_form__three_fields
{
    display: flex;
    flex-direction: column;
}

#comment_url_block
{
    margin-right: 0px;
}

.comment_form__three_fields-input
{
    max-width: 100%;
    width: 185px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #62585f;
    margin: 10px 0px;
}

.comment_form__three_fields-name
{
    font-size: 14px;
    color: #62585f;
}

#commentform .form-submit
{
    align-self: flex-end;
}

#commentform .submit
{
    font-size: 14px;
    color: #fff;
    padding: 10px;
    background-color: #222222;
    border-radius: 5px;
}
/* // Comments section */

/* Sidebar portfolio */
.sidebar__heading {
    font-size: 25px;
    font-weight: 400;
    color: #62585f;
    text-shadow: 2px 2px #fff;
    margin-bottom: 6px;
}

.sidebar__hr {
    width: 100%;
    background-color: #62585f;
    margin-bottom: 10px;
}

.porfolio--gallery {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, calc(100%/4.2));
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  
  .porfolio--gallery a
  {
      width: 100%;
  }

  .portfolio--gallery-item {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    aspect-ratio: 1.66;
  }

  .single-post-card {
    margin: 5px 0px;
    padding: 20px;
  }

  .single-post-card ul
  {
      list-style: none;
  }

  .single-post-card ul li a
  {
    text-decoration: none;
    color: #222222;
  }
  /* //Sidebar portfolio */

  /* Sidebar Recent Posts */
.single__recent-post
{
    display: flex;
    margin-bottom: 7px;
}

  .sidebar__recent-post-image-box {
    margin-right: 5px;
  }
  
  .sidebar__recent-post-image {
    width: 45px;
    height: 45px;
    border-radius: 3px;
  }
  
  .sidebar__recent-post-details {
    line-height: 14px;
  }
  
  @media (max-width: 768px) {
    .right__sidebar
    {
        display: none;
    }

    .sidebar__recent-post-image-box {
        display: block;
    }
  
    .sidebar__recent-post-details {
      float: left;
    }
  }
  
  .sidebar__recent-post-title {
    font-size: 14px;
    color: #62585f;
    margin-bottom: 4px;
  }

  .sidebar__recent-post-details a{
    text-decoration: none;
  }

  .sidebar__recent-post-details .blog__author-name
  {
      color: #ef4634;
  }
  
  .sidebar__recent-post-title:hover {
    color: #ef4634;
  }
  
  .sidebar__recent-post-details {
    color: #62585f;
    font-size: 12px;
  }
/* // Recent Posts */

/* Blog */

.blog__heading
{
    font-size: 45px;
    font-weight: 300;
    line-height: 35px;
    max-width: 100%;
}

.blog__heading-author
{
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    max-width: 100%;
}

.blog_header-line
{
    height: 1px; width: 100%; 
    background-color: #62585f;
    margin: 22px 0px;
}

.container-wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container
{
    width: calc((100%/12)*7.5);
}

.blog_post__wrapper
{
    width: calc((100%/7.5)*5);
    padding-right: 30px;
}

.blog__single_post
{
    margin-bottom: 40px;
}

.blog__post_header
{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #222222;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.blog__post_header:hover
{
    background-color: #ef4634;
}

.blog__post_date
{
    height: 100%;
    padding: 10px 10px;
    line-height: 16px;
}

.blog__post-date-num
{
    font-size: 25px;
}

.blog__post-date-month
{
    font-size: 14px;
}

.blog__header-gap
{
    background-color: white;
    width: 1px;
    opacity: 0.4;
}

.blog__post_title
{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 15px;
    align-items: center;
    margin-left: -1px;
    font-size: 20px;
}

.blog__post_title a
{
    color: #fff;
    text-decoration: none;
}

.blog__post_body
{
    display: flex;
}

.blog__post_img
{
    width: 31.26%;
    height: 153px;
}

.blog__post_img img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.blog__post_right_body
{
    padding-left: 20px;
    width: 68.74%;
}

.blog__post_subheading
{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #62585f;
}

.blog__post_subheading p a:link 
{
    text-decoration: none;
}

.blog__post_subheading p a:hover
{
    text-decoration: underline;
}

.blog__author-name
{
    color: #ef4634;
}

.blog__post-read-more
{
    font-size: 15px;
    margin-top: 8px;
}

.blog__post-read-more a
{
    color: #ef4634;
    text-decoration: none;
}

/* Pagination */
.blog__pagination {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
  }
  
  .blog__pagination-item {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

  .page-numbers
  {
    font-size: 16px;
    font-weight: 500; 
    text-decoration: none;
  }

  .blog__pagination-icon_wrapper
  {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    text-align: center;
    text-decoration: none;   
  }

  .blog__pagination-icon
  {
      fill: #222;
  }

  .blog__pagination-icon:hover
  {
      fill: #fff;
  }
  
  .blog__pagination-item:hover {
    color: #fff;
    background-color: #ef4634;
    border-radius: 3px;
    padding: 15px;
  }

  .blog-column
  {
    width: calc((100%/7.5)*5);
    padding-right: 20px;
  }

  /* footeer */

  .footer__copyright
  {
      text-align: center;
      font-size: 14px;
      padding: 10px 0px;
  }

  .footer__designed-by
  {
      color: #ef4634;
  }

  .footer__designed-by:hover
  {
      text-decoration: underline;
  }

  .footer__copyright_first
  {
      color: #62585f;
  }

/* Page */
.page-content-wrapper
{
    width: calc((100%/7.5)*5);
    padding-right: 30px;
}

.not--found--404
{
    font-size: 30px;
}

/* Responsive Design */

@media ( max-width: 768px) {
    .container
    {
        width: 100%;
    }
    
    .headerclass
    {
        height: auto;
        justify-content: space-around;
    }

    .headerclass img
    {
        width: 90px;
        height: 40px;
        margin-left: 10px;
    }

    .headerclass
    {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .urlclass
    {
        display: none;
    }

    .header__search-form
    {
        display: none;
    }

    .urlclass-responsive
    {
        display: block;
        margin: 10px;
        text-align: center;
        width: 100%;
    }

    .urlclass-responsive li
    {
        margin: 10px 0px;
        list-style: none;
    }

    .urlclass-responsive li a
    {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .current_page_item a 
    {
        padding: 0px;
    }

    .hamburger-icon {
        height: 30px;
        width: 30px;
        border: 2px solid #111111;
        border-radius: 7px;
        justify-self: end;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 10px;
        background-color: #1b1a1e;
        color: white;
        box-shadow: 1px 0px 8px 0px #0010ff;
    }

    .header-menugroup
    {
        grid-column: 1 / 3;
        background-color: #00105f;
    }
        
    .red-box-container
    {
       height: 250px;
       width: 100%;
    }

    .red-box-container_background
    {
        background-size: contain;
    }

    .red-box-container_content
    {
        padding-bottom: 10px;
    }

    .red-box-container_content__title
    {
        font-size: 33px;
        margin: 0px;
    }

    .red-box-container_content__subtitle
    {
        font-size: 13px;
    }

    .feature_content
    {
        display: none;
    }

/* removed     .feature_content__column img {
        width: 20px;
        height: 20px;
        margin-right: 19px;
    }

    .feature_content__column
    {
        padding: 8px 10px;
    }

    .feature_content__description
    {
        display: none;
    }

    .feature_content__heading
    {
        font-size: 14px;
    }
*/

    .gallery_container
    {
        width: 100%;
    }

    .gallery_header__container
    {
        padding: 10px 0px;
        justify-content: space-between;
    }

    .gallery_container
    {
        width: 70%;
    }

    .gallery_header__header
    {
        font-size: 25px;
    }

    .gallery_header__button
    {
        font-size: 14px;
        padding: 5px;
    }

    .gallery
    {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-column-gap: 9px;
        padding-top: 7px;
        margin-left: -5px;
    }
    
    .gallery_img
    {
        width: 100%;
        height: 180px;
        margin: 2px;
    }

    .portfolio__overlay-imgcontainer
    {
        width: 60%;
        height: 60%;
    }

    .wc
    {
        display: block;
    }

    .welcome
    {
        display: none;
    }

    .contact
    {
        text-align: center;
        width: 100%;
        padding: 8px;
    }

    .wc__heading
    {
        font-size: 18px;
        margin-bottom: 8px;
    }

    #top-sidebar-area
    {
        display: block;
    }

    .single-container
    {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 0px;
    }

    .single-post-wrapper
    {
        width: 100%;
        padding: 0px 10px;
    }

    .single_post_subheading__container
    {
        display: block;
    }

    .single_post_subheading__container a
    {
        text-decoration: none;
    }

    .comment_textarea
    {
        width: 100%;
    }

    .comment_form__lower_container, .comment_form__three_fields-name
    {
        display: block;
    }

    #commentform .form-submit
    {
        align-self: flex-start;
    }

    .single_sidebar
    {
        width: 100%;
        margin: 10px;
    }

    .right__sidebar
    {
        display: none;
    }

    .blog-column
    {
        width: 100%;
        padding: 10px;
    }

    .blog__heading
    {
        font-size: 18px;
        padding: 0px 10px;
    }

    .blog_header-line
    {
        margin: 10px 0px;
    }

    .blog_post__wrapper
    {
        width: 100%;
        padding: 0px;
    }

    .blog__post-date-num {
        font-size: 20px;
    }

    .blog__post-date-month {
        font-size: 11px;
    }

    .blog__post_title {
        font-size: 18px;
    }

    .blog__post-read-more
    {
        font-size: 12px;
    }

    .blog__pagination
    {
        justify-content: center;
    }

    .blog__pagination-item:hover
    {
        padding: 10px;
    }

    .gallery_header__group-btn
    {
        padding: 5px;
    }

    .page-content-wrapper
    {
        width: 100%;
        padding: 10px;
    }

    .wc__icon-container
    {
        justify-content: center;
    }
}

/* Responsive for Mobile */

@media (max-width: 554px) {
    .red-box-container_content__title
    {
        font-size: 25px;
    }

    .red-box-container_content__subtitle
    {
        font-size: 11px;
        line-height: 20px;
    }

    .gallery_header__header
    {
        font-size: 23px;
    }

    .gallery_container 
    {
        width: 100%;
        padding: 10px;
    }

    .red-box-container
    {
        height: 200px;
    }

    .gallery_header__container
    {
        justify-content: space-between;
    }

    .portfolio__overlay-imgcontainer {
        width: 80%;
        height: 40%;
    }

    .blog__heading
    {
        line-height: 20px;
    }

    .blog_header-line
    {
        margin: 6px 0px;
    }

    .blog__post_header
    {
        height: 40px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .blog__post_date
    {
        padding: 2px 6px;
    }

    .blog__post_img
    {
        height: 125px;
    }

    .blog__post_subheading
    {
        display: block;
    }

    #top-sidebar-area
    {
        display: block;
    }

}

@media (max-width: 390px)
{
    .red-box-container
    {
        height: 150px;
    }

    .red-box-container_background
    {
        background-size: contain;
    }

    .red-box-container_content
    {
        padding-bottom: 20px;
    }

    .red-box-container_content__title
    {
        font-size: 20px;
    }

    .red-box-container_content__subtitle
    {
        display: none;
    }

    .gallery_header__header
    {
        font-size: 20px;
    }

    .gallery_header__button
    {
        font-size: 13px;
        padding: 3px;
    }

    .gallery_img
    {
        height: 150px;
    }

    .blog__post_img
    {
        height: 100px;
    }

    .blog__post_header
    {
        font-size: 14px;
    }

    .blog__post_subheading
    {
        font-size: 12px;
    }

    #top-sidebar-area
    {
        display: block;
    }

    .single-container
    {
        font-size: 12px;
    }

    .footer__copyright
    {
        font-size: 12px;
    }

    .urlclass-responsive li a
    {
        font-size: 13px;
    }
}
