/* header */

.box__shadow
{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.headerclass {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 105px;
}

.header-menugroup
{
    display: flex;
}

.urlclass {
    display: flex; 
    font-weight: bold;
    font-size: 14px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-left: 10%;
    margin-right: 40px;
}

.urlclass li{
    padding: 0px 20px;
    font-weight: bold;
    font-size: 14px;
}

.urlclass li a{
    text-decoration: none;
    color: #222222;
}

.urlclass li a:hover{
    background-color: #ef4634;
    color: #ffffff;
    padding: 10px;
    border-radius: 3px;
}

.urlclass_form__search {
    width: 150px;
    height: 20px;
    background-color: #ffffff;
    border: 1px solid #62585f;
    border-radius: 3px;
}

/* //header */

/* red box container */

.red-box-container
{
    height: 544px;
    background-color: #e73d2d;
}

.red-box-container_background {
    background-image: url(./assets/images/slider-image.png);
    background-size: 100% 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3px;
}

.red-box-container_content
{
    padding-bottom: 40px;
}

.red-box-container_content__title
{
    font-size: 70px;
    font-weight: bold;
    color: #ffffff;
    margin: 20px 0px;
    text-shadow: 2px 2px #950904;
}

.red-box-container_content__subtitle
{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
/* //red box container */

/* Features */
.feature_content
{   height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature_content__column {
    display: flex;
    align-items: center;
}

.feature_content__text
{
    margin-left: 10px;
    margin-right: 15px;
}

.feature_content__heading {
    font-size: 20px;
    font-weight: bold;
    color: #ef4634;
    text-shadow: 2px 2px #fff;
    margin: 5px;
}

.feature_content__heading:hover
{
    color: #222222;
}

.feature_content__column img{
    size: 50px;
}

.feature_content__description
{
    font-size: 13px;
    color: #333333;
    line-height: 19.5px;
    margin: 5px;
}
/* //Features */

/* Gallery */
.gallery_section
{
    display: flex;
    justify-content: center;
}

.gallery_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    width: auto;
}

.gallery_header__container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
}
.gallery_header__header
{
    font-weight: 300;
    font-size: 45px;
    color: #62585f;
    text-shadow: 2px 2px #fff;
}

.gallery_header__container button
{
    height: fit-content;
    align-self: center;
}

.gallery_header__button
{
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    border-radius: 3px;
    background-color: #222222;
}

.gallery_header__button:hover
{
    background-color: #ef4634;
    cursor: pointer;
}

.gallery
{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 15px 0px;
}

.gallery_img
{
    width: 300px;
    height: 210px;
    margin: 5px 7px;
    border-radius: 10px;
}
/* //Gallery-general */

/* Gallery- portfolio */
.gallery_header__button-group
{
    align-self: center;
}

.gallery_header__group-btn
{
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    background-color: #222222;
}

.gallery_header__group-btn:hover
{
    background-color: #ef4634;
    cursor: pointer;
}
/* //Gallery- portfolio */

/* Welcome and Contact Section Footer*/

.wc {
    display: flex;
    justify-content: center;
}

.welcome {
    width: calc((100% / 12)*4);
    padding: 20px;
}

.contact {
    width: calc((100% / 12)*4);
    padding: 20px;
}

.wc__heading {
    font-size: 25px;
    font-weight: 400;
    color: #62585f;
    text-shadow: 2px 2px #fff;
    margin-bottom: 10px;
}

.wc__description {
    font-size: 14px;
    color: #62585f;
    line-height: 21px;
    margin-bottom: 10px;
}

.wc__read-more {
    font-size: 14px;
    color: #ef4634;
}

.wc__read-more:hover {
    color: #ef4634;
    text-decoration: underline;
}

.wc__social-icons {
    width: 40px;
    height: 40px;
}

#wc-fb {
    width: 40px;
    height: 40px;
    background: url(./assets/images/social.png) 0 0;
}

#wc-fb:hover {
    background: url(./assets/images/social.png) 0 40px;
}

#wc-g {
    background: url(./assets/images/social.png) -45px 0;
}

#wc-g:hover {
    background: url(./assets/images/social.png) -45px 40px;
}

#wc-linkedin {
    background: url(./assets/images/social.png) -90px 0;
}

#wc-linkedin:hover {
    background: url(./assets/images/social.png) -90px 40px;
}

#wc-pinterest {
    background: url(./assets/images/social.png) -135px 0;
}

#wc-pinterest:hover {
    background: url(./assets/images/social.png) -135px 40px;
}

#wc-twitter {
    background: url(./assets/images/social.png) -180px 0;
}

#wc-twitter {
    background: url(./assets/images/social.png) -180px 40px;
}
/* //Welcome and Contact Section */

/* Single Post*/
.single-post
{
    display: flex;
    justify-content: center;
}

.single-container
{
    width: calc((100%/12)*8);
    display: flex;
    font-size: 14px;
    color: #62585f;
    line-height: 21px;
    margin-top: 50px;
}

.single-post-wrapper
{
    padding-right: 30px;
    width: calc((100%/8)*5);
}

.single_post__content p
{
    margin: 15px 0px;
}

.single_post__content img
{
    width: 620px;
    border-radius: 3px;
}

.single-post_heading
{
    font-size: 35px;
    color: #62585f;
    text-shadow: 2px 2px #fff;
}

.single_post_subheading__container
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: small;
    width: 100%;
}

.single_post_subheading__container .author_name
{
    color: green;
    font-weight: lighter;
}

.single_post__tags
{
    margin: 20px 0px;
}

.single_post__tags-para
{
    font-size: 13px;
    color: #62585f;
}

.single_post__tags-para a:link
{
    color: #ef4634;
}

.single_post__tags-para:hover
{
    text-decoration: underline;
}

.single_sidebar
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* //Single Post*/

/* Comments Section */
.comment_container
{
    width: 100%;
}

.comment_heading
{
    font-size: 18px;
    font-weight: normal;
    color: #62585f;
    margin: 10px 0px;
}

.comment_reply_title
{
    font-size: 18px;
    color: #62585f;
    margin-top: 20px;
}

#commentform
{
    display: flex;
    flex-direction: column;
}

.comment_textarea
{
    margin: 5px 0px;
    width: 620px;
    height: 90px;
    background-color: #fff;
    border: 1px solid #62585f;
}

.comment_form__lower_container
{
    display: flex;
}

.comment_form__three_fields
{
    margin-right: 17px;
}

#comment_url_block
{
    margin-right: 0px;
}

.comment_form__three_fields-input
{
    width: 195px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #62585f;
    margin: 10px 0px;
}

.comment_form__three_fields-name
{
    font-size: 14px;
    color: #62585f;
}

#commentform .form-submit
{
    align-self: flex-end;
}

#commentform .submit
{
    font-size: 14px;
    color: #fff;
    padding: 10px;
    background-color: #222222;
    border-radius: 5px;
    margin-right: 10px;
}
/* // Comments section */

/* Sidebar portfolio */
.sidebar__heading {
    font-size: 25px;
    font-weight: 400;
    color: #62585f;
    text-shadow: 2px 2px #fff;
    margin-bottom: 10px;
}

.sidebar__hr {
    width: 100%;
    background-color: #62585f;
    margin-bottom: 10px;
}

.porfolio--gallery {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, calc(100%/4.2));
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 5px;
  }
  
  .porfolio--gallery a
  {
      width: 100%;
  }

  .portfolio--gallery-item {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    aspect-ratio: 1.66;
  }

  .single-post-card {
    margin-bottom: 50px;
  }
  /* //Sidebar portfolio */

  /* Sidebar Recent Posts */
  .sidebar__recent-post-image-box {
    float: left;
    width: 20%;
    padding-left: 20px;
  }
  
  .sidebar__recent-post-image {
    width: 45px;
    height: 45px;
    border-radius: 3px;
  }
  
  .sidebar__recent-post-details {
    float: left;
    width: 80%
  }
  
  @media (min-width: 768px) {
    .sidebar__recent-post-image-box {
      float: left;
      width: 30%;
      padding-left: 20px;
    }
  
    .sidebar__recent-post-details {
      float: left;
      width: 70%
    }
  }
  
  .sidebar__recent-post-title {
    font-size: 14px;
    color: #62585f;
  }

  .sidebar__recent-post-details a{
    text-decoration: none;
  }

  .sidebar__recent-post-details .blog__author-name
  {
      color: #ef4634;
  }
  
  .sidebar__recent-post-title:hover {
    color: #ef4634;
  }
  
  .sidebar__recent-post-details {
    color: #62585f;
    font-size: 12px;
  }
/* // Recent Posts */

/* Blog */

.blog__heading
{
    font-size: 45px;
    font-weight: 300;
    line-height: 50px;
}

.container-wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container
{
    width: calc((100%/12)*8);
}

.blog_post__wrapper
{
    padding-right: 30px;
}

.blog__single_post
{
    margin-bottom: 40px;
}

.blog__post_header
{
    display: flex;
    width: 620px;
    height: 50px;
    background-color: #222222;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.blog__post_date
{
    border: 1px solid #f1f1f1;
    height: 100%;
    text-align: center;
    padding: 3px;
    border: 1px solid #fff;
}

.blog__post_title
{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 10px;
    align-items: center;
    border: 1px solid #fff;
}

.blog__post_body
{
    display: flex;
}

.blog__post_img
{
    width: 220px;
    height: 153px;
}

.blog__post_img img
{
    width: 100%;
    height: 100%;
}

.blog__post_right_body
{
    padding-left: 20px;
    width: 380px;
}

.blog__post_subheading
{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #62585f;
}

.blog__post_subheading p a:link 
{
    text-decoration: none;
}

.blog__post_subheading p a:hover
{
    text-decoration: underline;
}

.blog__author-name
{
    color: #ef4634;
}

.blog__post-read-more
{
    font-size: 15px;
    margin-top: 8px;
}

.blog__post-read-more a:link
{
    color: #ef4634;
    text-decoration: none;
}

/* Pagination */
.blog__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .blog__pagination-item {
    font-size: 16px;
    font-weight: 500;
    /* color: #222; */
    width: 30px;
    height: 30px;
    text-align: center;
    /* padding-top: 3px; */
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .blog__pagination-item:hover, .prev:hover, .next:hover {
    color: #fff;
    background-color: #ef4634;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .blog-column
  {
      padding-right: 20px;
  }

  /* footeer */

  .footer__copyright
  {
      text-align: center;
      font-size: 13px;
      font-weight: 300;
  }
